<%- include ('./partials/header'); -%>
<div class="container">
  <header class="header">
      <h4>Book Finder</h4>
  </header>
<form class="" action="/response" method="GET">
  <div class="input-group mb-2">
    <input type="text" class="form-control" name="search" placeholder="Search For Books" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
    <button class="btn btn-dark btn-sm" type="submit">Search</button>
  </div>
  </div>
</form>
</div>


<%- include ('./partials/footer'); -%>
