<h2>Sign Up Page!</h2>

<form class="" action="/register" method="post">
  <input type="text" name="username" value="" placeholder="Username">
  <input type="text" name="password" value="" placeholder="Password">
  <button type="button" name="button">Submit</button>

</form>
