<%- include ('./partials/header'); -%>

<h1>Results Page</h1>

<% response["data"].items.forEach(item => { %>
        <%= item.volumeInfo["title"] %>
        <span> - </span>
        <%= item.volumeInfo["authors"] %>
  <% }) %>

<a href="/">Search Again!</a>

<%- include ('./partials/footer'); -%>
